.wrapper
  = render 'shared/side_bar'
  
  .chatMain
    .mainHeader
      .leftBox
        %p.mainHeader__leftBox__groupName
          = @group.name
        %ul.mainHeader__leftBox__members
          Member：
          %li.mainHeader__leftBox__members__member
            - @group.users.each do |user|
              = user.name
      %button.mainHeader__btn
        = link_to 'Edit', edit_group_path(@group), class: 'mainHeader__btn__inside'

    .mainMessages
      = render @messages

    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', id: 'new__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            %i.fa.fa-image
            =f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'